.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 30px 20px 30px;
}

.todos-card {
  background-color: #ffffff;
  border: 0 solid;
  border-radius: 20px;
  width: 95%;
  max-width: 1000px;
  box-shadow: 5px 5px 6px 6px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 30px 20px;
}

.title {
  font-family: 'Bree Serif';
  font-size: 26px;
  color: #ff8542;
  font-weight: 600;
}

.todo-add-container {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.todo-input {
  height: 40px;
  margin: 0;
  padding-left: 10px;
  margin-right: 20px;
  border: 1px solid;
  border-radius: 4px;

  font-family: 'Roboto';
  font-size: 18px;
  color: #161413;

  flex-grow: 1;
  flex-shrink: 1;
  outline: none;
}

.add-btn {
  height: 40px;
  width: 100px;
  min-width: 60px;
  border: none;
  border-radius: 6px;

  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;

  color: #ffffff;
  background-color: #ff8542;
}

.todo-lis-title {
  margin-bottom: 2px;
  margin-right: auto;

  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 600;

  color: #ff8542;
}

.todos-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
